# Игнорировать файлы и директории IDE
.idea/
*.iml
*.ipr
*.iws

# Игнорировать файлы macOS
.DS_Store

# Игнорировать директорию сборки CMake
cmake-build-debug/
cmake-build-release/

# Игнорировать временные файлы и логи
*.log
*.tmp
*.swp
*.swo

# Игнорировать системные файлы
Thumbs.db
ehthumbs.db
Desktop.ini

# Игнорировать пользовательские настройки
.vscode/